name: CI
on:
  workflow_call:
    inputs:
      targets:
        required: true
        type: string
      type:
        description: 'mu-plugins|plugins|themes'
        type: string
        required: true
      name:
        type: string
        default: ''
      action:
        description: 'opened|reopened|synchronize|closed'
        type: string
        required: true
    secrets:
      token:
        required: true
      coverage-token:
        required: true
      staging-token:
        required: true
      staging-mad-token:
        required: true
      private-key:
        required: true
      docker-username:
        required: true
      docker-password:
        required: true
jobs:
  tests:
    name: Run tests
    if: ${{ inputs.action != 'closed' }}
    runs-on: self-hosted
    timeout-minutes: 30
    permissions:
      pull-requests: write
    strategy:
      matrix:
        target: ${{ fromJson(inputs.targets) }}
    container:
      image: dockeregistry.humanoid.fr/${{ matrix.target }}:latest
      options: --user root
      credentials:
        username: ${{ secrets.docker-username }}
        password: ${{ secrets.docker-password }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.token }}
          path: ${{ github.event.repository.name }}-${{ github.run_id }}-${{ github.run_number }}

      - name: Start services
        run: |
          service mariadb restart &> /dev/null; \
          service php$(php -r 'echo PHP_MAJOR_VERSION.".".PHP_MINOR_VERSION;')-fpm restart &> /dev/null; \
          service redis-server restart &> /dev/null; \
          service nginx restart &> /dev/null; \
          service elasticsearch restart &> /dev/null;
      - name: Setup SSH
        run: |
          echo "APP_WEBSITE=${{ matrix.target }}" >> $GITHUB_ENV
          echo "APP_ENV=local" >> $GITHUB_ENV
          useradd -r -d $HOME -s /bin/bash -g root -G sudo -u 1001 ci
          echo "${{ secrets.private-key }}" > /tmp/sshkey
          chmod 600 /tmp/sshkey
          chown ci:root /tmp/sshkey
          echo "GIT_SSH_COMMAND=ssh -i /tmp/sshkey -o StrictHostKeyChecking=no" >> $GITHUB_ENV

      - name: Checkout Humanoid CI
        uses: actions/checkout@v2
        with:
          repository: Humanoidfr/humanoid-ci
          token: ${{ secrets.token }}
          path: .github/actions/humanoid-ci

      - name: "Checkout repositories to current branch"
        run: ./.github/actions/humanoid-ci/scripts/checkout.sh ${{ inputs.type }} ${{ github.event.repository.name }}
        shell: bash

      - name: Setup current repository
        run: |
          [ -f /var/www/wordpress/wp-content/${{ inputs.type }}/${{ github.event.repository.name }} ] && mv /var/www/wordpress/wp-content/${{ inputs.type }}/${{ github.event.repository.name }} ${{ github.event.repository.name }}-${{ github.run_id }}-${{ github.run_number }}_old
          mv ${{ github.event.repository.name }}-${{ github.run_id }}-${{ github.run_number }} /var/www/wordpress/wp-content/${{ inputs.type }}/${{ github.event.repository.name }}
          chown -R root:root /var/www/
          [[ "${{ github.event.repository.name }}" != "humanoid-core" ]]  && cd /var/www/wordpress/wp-content/mu-plugins/humanoid-core && composer install -n --no-scripts
          cd /var/www/wordpress/wp-content/${{ inputs.type }}/${{ github.event.repository.name }} && composer install -n --no-scripts
        shell: bash

      - name: Generate code coverage
        run: |
          cd /var/www/wordpress/wp-content/${{ inputs.type }}/${{ github.event.repository.name }}
          XDEBUG_MODE=coverage ./vendor/bin/phpunit tests --coverage-cobertura=coverage.xml
        shell: bash

      - name: Copy coverage
        run: |
          cp /var/www/wordpress/wp-content/${{ inputs.type }}/${{ github.event.repository.name }}/coverage.xml coverage.xml
        shell: bash

      - name: Convert code coverage to markdown
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.xml
          badge: true
          format: 'markdown'
          output: 'both'

      - name: Add Coverage to PR
        uses: marocchino/sticky-pull-request-comment@v2
        if: ${{ inputs.action == 'opened' || inputs.action == 'reopened' || inputs.action == 'synchronize' }}
        with:
          header: test
          recreate: true
          path: code-coverage-results.md

      - name: Write to Job Summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Run all Unit/Integration tests
        id: unit-tests
        run: /var/www/vendor/bin/exec-all-tests.sh /var/www/wordpress ci
  staging:
    name: Deploy Staging
    if: ${{ always() && inputs.name != '' }}
    runs-on: self-hosted
    timeout-minutes: 30
    strategy:
      matrix:
        target: ${{ fromJson(inputs.targets) }}
    steps:
      - name: Checkout Humanoid CI
        uses: actions/checkout@v2
        with:
          repository: Humanoidfr/humanoid-ci
          token: ${{ secrets.token }}
          path: .github/actions/humanoid-ci

      - name: Create/update "${{ inputs.name }}" ${{ matrix.target }} staging environment
        if: ${{ inputs.action == 'opened' || inputs.action == 'reopened' || inputs.action == 'synchronize' }}
        env:
          HUMANOID_TOKEN: ${{ secrets.staging-token }}
          MADMOIZELLE_TOKEN: ${{ secrets.staging-mad-token }}
          IS_WOODY: true
        run: |
          python3 ./.github/actions/humanoid-ci/scripts/preprod.py clone ${{ matrix.target }} ${{ inputs.name }} ${{ inputs.name }} ${{ github.event.pull_request.html_url }} ${{ github.event.pull_request.body }} ${{ github.event.pull_request.user.avatar_url }}

      - name: Delete "${{ inputs.name }}" ${{ matrix.target }} staging environment
        if: ${{ inputs.action == 'closed' }}
        env:
          HUMANOID_TOKEN: ${{ secrets.staging-token }}
          MADMOIZELLE_TOKEN: ${{ secrets.staging-mad-token }}
          IS_WOODY: true
        run: |
          python3 ./.github/actions/humanoid-ci/scripts/preprod.py delete ${{ matrix.target }} ${{ inputs.name }}

      - name: Add staging environment URL to PR
        uses: marocchino/sticky-pull-request-comment@v2
        if: ${{ inputs.action == 'opened' || inputs.action == 'reopened' || inputs.action == 'synchronize' }}
        with:
          header: ${{ matrix.target }}
          recreate: true
          message: |
            **${{ matrix.target }} staging URL**: https://staging-${{ inputs.name }}.${{ matrix.target }}.com
  e2e:
    name: Run E2E tests
    if: ${{ inputs.action != 'closed' }}
    needs: [tests, staging]
    runs-on: self-hosted
    timeout-minutes: 30
    strategy:
      matrix:
        target: ${{ fromJson(inputs.targets) }}
    steps:
      - name: Checkout Humanoid CI
        uses: actions/checkout@v2
        with:
          repository: Humanoidfr/humanoid-ci
          token: ${{ secrets.token }}
          path: .github/actions/humanoid-ci

      - name: Run E2E tests
        run: |
          ./.github/actions/humanoid-ci/e2e/run.sh ${{ matrix.target }} ${{ inputs.name }}
