name: Update composer.lock
on:
  workflow_call:
    inputs:
      PHP_VERSION:
        description: PHP version with which the coding standard analysis is to be executed.
        default: "8.1"
        required: false
        type: string
    secrets:
      COMPOSER_AUTH_JSON:
        description: Authentication for privately hosted packages and repositories as a JSON formatted object.
        required: false

permissions:
  pull-requests: write
  contents: write

jobs:
  update-dependencies:
    name: Update composer.lock
    runs-on: ubuntu-latest
    env:
      COMPOSER_AUTH: "${{ secrets.COMPOSER_AUTH_JSON }}"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer
          coverage: none

      - name: Set Composer global config
        run: echo $COMPOSER_CONFIG > $(composer -n config --global home)/config.json
        env:
            COMPOSER_CONFIG: ${{ vars.COMPOSER_CONFIG_JSON }}

      - run: composer update --no-interaction --no-scripts --prefer-dist --no-dev

      - name: Generate composer diff
        id: composer_diff # To reference the output in comment
        uses: IonBazan/composer-diff-action@v1
        with:
          base: HEAD
          with-links: true
          no-dev: true

      - uses: peter-evans/create-pull-request@v5
        if: ${{ steps.composer_diff.outputs.composer_diff_exit_code != 0 }}
        with:
          add-paths: |
            composer.lock
          commit-message: "feat: update dependencies"
          branch: update-dependencies
          title: "Update dependencies"
          body: |
            ## Update summary

            ${{ steps.composer_diff.outputs.composer_diff }}
