name: Update composer.lock
on:
  workflow_call:
    inputs:
      PHP_VERSION:
        description: PHP version
        default: "8.1"
        required: false
        type: string
    secrets:
      COMPOSER_AUTH_JSON:
        description: Authentication for privately hosted packages and repositories as a JSON formatted object.
        required: false

permissions:
  pull-requests: write
  contents: write

jobs:
  update-dependencies:
    name: Update composer.lock
    runs-on: ubuntu-latest
    env:
      COMPOSER_AUTH: "${{ secrets.COMPOSER_AUTH_JSON }}"
    concurrency:
      group: ${{ github.repository }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.PHP_VERSION }}
          tools: composer
          coverage: none

      - name: Set Composer global config
        run: echo $COMPOSER_CONFIG > $(composer -n config --global home)/config.json
        env:
          COMPOSER_CONFIG: ${{ vars.COMPOSER_CONFIG_JSON }}

      - run: echo $COMPOSER_AUTH

      - run: composer update --no-interaction --no-scripts --prefer-dist --no-dev

      - name: Generate composer diff
        id: composer_diff
        uses: IonBazan/composer-diff-action@v1
        with:
          base: HEAD
          with-links: true
          no-dev: true

      - run: echo "NOW=$(TZ=Europe/Paris date +'%Y-%m-%d %H:%M')" >> $GITHUB_ENV

      - uses: peter-evans/create-pull-request@v5
        if: ${{ steps.composer_diff.outputs.composer_diff_exit_code != 0 }}
        with:
          add-paths: |
            *.lock
          commit-message: "feat: update dependencies"
          branch: update-dependencies
          title: "[${{ env.NOW }}] Update dependencies"
          body: |
            ## Update summary

            ${{ steps.composer_diff.outputs.composer_diff }}
