name: Deploy to production
on:
  workflow_call:
    inputs:
      URL:
        required: true
        type: string
      PHP_VERSION:
        description: PHP version with which the coding standard analysis is to be executed.
        default: "8.1"
        required: false
        type: string
    secrets:
      SSH_PRIVATE_KEY:
        description: Private key to access deploy server
        required: true

jobs:
    # Deploy
    deploy:
      name: Deploying to ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
      # runs-on: ubuntu-latest
      runs-on: self-hosted
      environment:
        name: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
        url: ${{ inputs.URL }}
      steps:
        - uses: crazy-max/ghaction-dump-context@v2
        - uses: actions/checkout@v4

        - uses: webfactory/ssh-agent@v0.8.0
          with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

        - name: Disable host key check
          run: echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

        - uses: shivammathur/setup-php@v2
          with:
            php-version: ${{ inputs.PHP_VERSION }}

        - run: whoami
        - run: php -v
        - run: composer --version

        - uses: ramsey/composer-install@v2
          with:
            composer-options: "--no-scripts --no-dev"
            working-directory: tools/deployer

        - run: echo "CURRENT_BRANCH=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV

        - name: Deploy branch ${{ env.CURRENT_BRANCH }} to ${{ env.CURRENT_BRANCH == 'main' && 'production' || 'staging' }}
          run: ./tools/deployer/vendor/bin/dep deploy -vv --branch=${{ env.CURRENT_BRANCH }} stage=${{ env.CURRENT_BRANCH == 'main' && 'production' || 'staging' }}
