name: Deploy to production
on:
  workflow_call:
    inputs:
      ACTION:
        description: Action to be performed
        default: deploy
        type: string
        required: true
      URL:
        required: true
        type: string
      PHP_VERSION:
        description: PHP version with which the coding standard analysis is to be executed.
        default: "8.1"
        required: false
        type: string
    secrets:
      SSH_PRIVATE_KEY:
        description: Private key to access deploy server
        required: true

jobs:
    # Deploy
    deploy:
      name: Deploying to ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
      # runs-on: ubuntu-latest
      runs-on: self-hosted
      environment:
        name: production
        url: ${{ inputs.URL }}
      steps:
        - uses: actions/checkout@v4

        - uses: webfactory/ssh-agent@v0.8.0
          with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

        - name: Disable host key check
          run: echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

        - uses: shivammathur/setup-php@verbose
          with:
            php-version: ${{ inputs.PHP_VERSION }}

        - run: export HOME=/root/ && composer install -d tools/deployer --prefer-dist --no-progress --no-interaction --no-dev

        - name: Deploy to production
          run: ./tools/deployer/vendor/bin/dep ${{ inputs.ACTION }} -vv stage=production
