name: Deploy to production
on:
  workflow_call:
    inputs:
      ACTION:
        description: Action to be performed
        default: deploy
        type: string
        required: true
      URL:
        required: true
        type: string
      PHP_VERSION:
        description: PHP version with which the coding standard analysis is to be executed.
        default: "8.2"
        required: false
        type: string
    secrets:
      SSH_PRIVATE_KEY:
        description: Private key to access deploy server
        required: true
      COMPOSER_AUTH_JSON:
        description: Authentication for privately hosted packages and repositories as a JSON formatted object.
        required: false

jobs:
    # Deploy
    deploy:
      name: Deploying to ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
      # runs-on: ubuntu-latest
      runs-on: self-hosted
      env:
        HOME: /root
        COMPOSER_ALLOW_SUPERUSER: 1
        COMPOSER_AUTH: "${{ secrets.COMPOSER_AUTH_JSON }}"
      environment:
        name: production
        url: ${{ inputs.URL }}
      steps:
        - uses: actions/checkout@v5

        - uses: webfactory/ssh-agent@v0.8.0
          with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

        - name: Disable host key check
          run: echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

        - name: Prepend /usr/local/bin to PATH
          run: |
            echo "PATH=/usr/local/bin:$PATH" >> $GITHUB_ENV
            echo "PATH=/usr/local/bin:$PATH" >> $HOME/.bashrc
            echo "PATH=/usr/local/bin:$PATH" >> $HOME/.profile
            echo "PATH=/usr/local/bin:$PATH" >> $HOME/.bash_profile

        - name: Composer setup
          uses: Humanoidfr/humanoid-github-workflows/.github/actions/composer@main
          with:
            PHP_VERSION: ${{ inputs.PHP_VERSION }}
            COMPOSER_CONFIG: ${{ vars.COMPOSER_CONFIG_JSON }}
            COMPOSER_ARGS: '-d tools/deployer --prefer-dist --no-dev'

        - name: Execution ${{ inputs.ACTION }} to production
          run: ./tools/deployer/vendor/bin/dep ${{ inputs.ACTION }} -vv stage=production
