name: Front End Assets Linter
on:
  workflow_call:
    secrets:
      token:
        required: true
jobs:
  stylelint:
    name: runner / stylelint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install stylelint globally
        run: (npm ci stylelint -s || npm i stylelint -s)
      - name: runner / stylelint
        uses: reviewdog/action-stylelint@v1
        with:
          github_token: ${{ secrets.token }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true
          stylelint_input: '**/*.scss'
          stylelint_config: './.stylelintrc'
