name: Lint
on:
  workflow_call:
    secrets:
      token:
        required: true
      private-key:
        required: true
jobs:
  lint:
    name: Run linters
    runs-on: self-hosted
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.private-key }}

    - name: "Check composer.json existence"
      id: check_composer
      uses: andstor/file-existence-action@v2
      with:
        files: "composer.json"

    - name: "Check package.json existence"
      id: check_package
      uses: andstor/file-existence-action@v2
      with:
        files: "package.json"

    - name: Setup PHP
      if: steps.check_composer.outputs.files_exists == 'true'
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        coverage: none
        tools: composer, cs2pr

    - name: Install PHP dependencies
      if: steps.check_composer.outputs.files_exists == 'true'
      run: composer install -n --no-progress

    - name: Install NPM dependencies
      if: steps.check_package.outputs.files_exists == 'true'
      run: (npm ci -s || npm i -s)

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v31

    - name: Run PHPCS
      if: steps.changed-files.outputs.all_changed_files != '' && steps.check_composer.outputs.files_exists == 'true'
      run: vendor/bin/phpcs -q --report=checkstyle ${{ join(steps.changed-files.outputs.all_changed_files, ' ') }} | cs2pr

    - name: Run Stylelint
      if: steps.changed-files.outputs.all_changed_files != '' && steps.check_package.outputs.files_exists == 'true'
      uses: reviewdog/action-stylelint@v1
      with:
        github_token: ${{ secrets.token }}
        reporter: github-pr-review
        filter_mode: diff_context
        fail_on_error: true
        stylelint_input: '**/*.scss'
        stylelint_config: './.stylelintrc'

    - name: Run ESlint
      uses: reviewdog/action-eslint@v1
      if: steps.changed-files.outputs.all_changed_files != '' && steps.check_package.outputs.files_exists == 'true'
      with:
        github_token: ${{ secrets.token }}
        reporter: github-pr-review
        filter_mode: diff_context
        fail_on_error: true
