name: Lint
on:
  workflow_call:
    secrets:
      token:
        required: true
      private-key:
        required: true
jobs:
  lint:
    name: Run linters
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.private-key }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        coverage: none
        tools: composer, cs2pr

    - name: Get Composer cache directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Setup cache
      uses: pat-s/always-upload-cache@v1.1.4
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Install dependencies
      run: composer install --no-progress

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v31

    - name: Run PHPCS
      if: steps.changed-files.outputs.all_changed_files != ''
      run: vendor/bin/phpcs -q --report=checkstyle ${{ join(steps.changed-files.outputs.all_changed_files, ' ') }} | cs2pr

    - name: Run Stylelint
      if: steps.changed-files.outputs.all_changed_files != ''
      uses: reviewdog/action-stylelint@v1
      with:
        github_token: ${{ secrets.token }}
        reporter: github-pr-review
        filter_mode: diff_context
        fail_on_error: true
        stylelint_input: '**/*.scss'
        stylelint_config: './.stylelintrc'

    - name: Run ESlint
      uses: reviewdog/action-eslint@v1
      if: steps.changed-files.outputs.all_changed_files != ''
      with:
        github_token: ${{ secrets.token }}
        reporter: github-pr-review
        filter_mode: diff_context
        fail_on_error: true
        eslint_flags: 'assets/javascripts/'
