name: PHP Coding standards

on:
  workflow_call:
    inputs:
      PHP_VERSION:
        description: PHP version with which the coding standard analysis is to be executed.
        default: "8.2"
        required: false
        type: string
      COMPOSER_ARGS:
        description: Set of arguments passed to Composer.
        default: "--prefer-dist --no-scripts"
        required: false
        type: string
      PHPCS_ARGS:
        description: Set of arguments passed to PHP_CodeSniffer.
        default: "--report-full --report-checkstyle=./phpcs-report.xml"
        required: false
        type: string
      CS2PR_ARGS:
        description: Set of arguments passed to cs2pr.
        default: "--graceful-warnings ./phpcs-report.xml"
        required: false
        type: string
      WORKING_DIRECTORY:
        description: The working directory where to run the coding standards analysis.
        default: '.'
        required: false
        type: string
    secrets:
      COMPOSER_AUTH_JSON:
        description: Authentication for privately hosted packages and repositories as a JSON formatted object.
        required: false

jobs:
  php-coding-standards:
    name: PHP Coding standards
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.WORKING_DIRECTORY }}
    env:
      COMPOSER_AUTH: "${{ secrets.COMPOSER_AUTH_JSON }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Composer setup
        uses: Humanoidfr/humanoid-github-workflows/.github/actions/composer@main
        with:
          PHP_VERSION: ${{ inputs.PHP_VERSION }}
          PHP_TOOLS: "composer, cs2pr"
          COMPOSER_CONFIG: ${{ vars.COMPOSER_CONFIG_JSON }}
          WORKING_DIRECTORY: ${{ inputs.WORKING_DIRECTORY }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          path: ${{ inputs.WORKING_DIRECTORY }}
          files: |
            **/*.php

      - name: Run PHP_CS
        if: steps.changed-files.outputs.all_changed_files != ''
        run: ./vendor/bin/phpcs ${{ inputs.PHPCS_ARGS }} ${{ join(steps.changed-files.outputs.all_changed_files, ' ') }}

      - name: Annotate PHP_CodeSniffer report
        if: ${{ always() && steps.changed-files.outputs.all_changed_files != '' }}
        run: |
          sed -i 's|name="|name="${{ inputs.WORKING_DIRECTORY }}/|g' ./phpcs-report.xml
          cs2pr ${{ inputs.CS2PR_ARGS }}
