name: Release JS package

on:
  workflow_call:
    inputs:
      RELEASE_TYPE:
        description: Type of package manager
        default: "node"
        required: false
        type: string
    secrets:
      READ_WRITE_PACKAGES_TOKEN:
        description: Read/write packages token
        required: true

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  release:
    name: Release JS package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "18"

      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: ${{ inputs.RELEASE_TYPE }}
          package-name: ${{ github.event.client_payload.repo_name }}

      - name: Set up NPM auth
        if: ${{ steps.release.outputs.release_created == 'true' }}
        run: |
          npm config set //npm.pkg.github.com/:_authToken ${{ secrets.READ_WRITE_PACKAGES_TOKEN }}
          npm config set @humanoidfr:registry http://npm.pkg.github.com/

      - uses: bahmutov/npm-install@v1
        if: ${{ steps.release.outputs.release_created == 'true' }}
        with:
          useLockFile: false
        env:
          NPM_AUTH_TOKEN: ${{ secrets.READ_WRITE_PACKAGES_TOKEN }}

      - name: Build package
        if: ${{ steps.release.outputs.release_created == 'true' }}
        run: npm run build --if-present

      - name: Publish package
        run: npm publish
        if: ${{ steps.release.outputs.release_created == 'true' }}
        env:
          NPM_AUTH_TOKEN: ${{ secrets.READ_WRITE_PACKAGES_TOKEN }}
